@font-face {
    font-family: coolvetica;
    src: url(../fonts/coolvetica\ condensed\ rg.otf);
}

@font-face {
    font-family: DalekPinpointBold;
    src: url(../fonts/DalekPinpointBold.ttf);
}

.icon-button {
    background: none;
    border: none;
}

.icon-button:focus {
    outline: none;
}

.tag {
    /* https://www.w3schools.com/css/css3_borders.asp */
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;

    font-family: coolvetica;
    font-size: 42px;
    color: white;
}

.tag:hover {
    color: lightgray;
    text-decoration: underline;
}

/* Header */

.title {
    font-family: DalekPinpointBold;
    font-size: 75px;
    color: #96332D;
}

.tagline {
    font-size: 16px;
    font-style: italic;
    color: gray;
}

.big {
    font-size: 24px;
}

/* Player */

#player {
    padding: 15px;
    position: relative;
}

.tag-name {
    color: white;
    font-family: coolvetica;
}

.citation {
    font-size: 16px;
    font-style: italic;
    color: white;
}

.audio-button {
    color: rgba(255, 255, 255, 0.66);
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
}

.popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 999;
    display: none;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        top: -50px;
    }
    to {
        top: 20px;
    }
}

@keyframes slideOut {
    from {
        top: 20px;
    }
    to {
        top: -50px;
    }
}

/* Footer */

footer {
    background: #eee;
    color: #999;
    border-top: 1px solid #Ccc;  
}

/* Icon */

.icon {
    color: white;
}

